.score {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;

  background: red;
}

.points {
  border-radius: 20px;
  border: 10px solid #464772;
  background: #262425;
  color: #75df75;
  font-family: "Source Code Pro", monospace;
}
