/* Import fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@700&family=Gloria+Hallelujah&family=Kolker+Brush&family=Press+Start+2P&family=Source+Code+Pro&display=swap");
/* 
Css for all imported fonts
font-family: 'Architects Daughter', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kolker Brush', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace;
 */

html {
  padding: 0;
  margin: 0;

  background-color: #262425;
  color: #fff;
  font-family: "Comfortaa", cursive;
}
