.letter-3 {
  display: none;
}

.letter-A {
  width: 2vh;
  height: 2vh;
  border: 1px solid #231651;
  background-color: #231651;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #d6fff6;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-B {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ff8484;
  background-color: #ff8484;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #0069af;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-C {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ff66d8;
  background-color: #ff66d8;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f7ec59;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-D {
  width: 2vh;
  height: 2vh;
  border: 1px solid #136f63;
  background-color: #136f63;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #4ce0d2;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-E {
  width: 2vh;
  height: 2vh;
  border: 1px solid #7b63f0;
  background-color: #7b63f0;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #e2eb98;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-F {
  width: 2vh;
  height: 2vh;
  border: 1px solid #22aaa1;
  background-color: #22aaa1;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #3c1b43;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-G {
  width: 2vh;
  height: 2vh;
  border: 1px solid #454ade;
  background-color: #454ade;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #eae8ff;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-H {
  width: 2vh;
  height: 2vh;
  border: 1px solid #24d0bc;
  background-color: #24d0bc;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #d52941;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-I {
  width: 2vh;
  height: 2vh;
  border: 1px solid #6cd4ff;
  background-color: #6cd4ff;
  border-radius: 40px;
  padding: 1.7vh 2.4vh 1.7vh 2.4vh;
  color: #fe938c;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-J {
  width: 2vh;
  height: 2vh;
  border: 1px solid #d0e943;
  background-color: #d0e943;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ed521e;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-K {
  width: 2vh;
  height: 2vh;
  border: 1px solid #d676ff;
  background-color: #d676ff;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #45ff98;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-L {
  width: 2vh;
  height: 2vh;
  border: 1px solid #de3c4b;
  background-color: #de3c4b;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #87f5fb;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-M {
  width: 2vh;
  height: 2vh;
  border: 1px solid #2fbf71;
  background-color: #2fbf71;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ef2d56;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-N {
  width: 2vh;
  height: 2vh;
  border: 1px solid #8cd867;
  background-color: #8cd867;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ed7d3a;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-O {
  width: 2vh;
  height: 2vh;
  border: 1px solid #feb95f;
  background-color: #feb95f;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #090446;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-P {
  width: 2vh;
  height: 2vh;
  border: 1px solid #f04a4a;
  background-color: #f04a4a;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #92fade;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-Q {
  width: 2vh;
  height: 2vh;
  border: 1px solid #14591d;
  background-color: #14591d;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #e2e46d;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-R {
  width: 2vh;
  height: 2vh;
  border: 1px solid #4f1271;
  background-color: #4f1271;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #fa92f6;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-S {
  width: 2vh;
  height: 2vh;
  border: 1px solid #00ffc5;
  background-color: #00ffc5;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #0075a2;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-T {
  width: 2vh;
  height: 2vh;
  border: 1px solid #464772;
  background-color: #464772;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #75df75;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-U {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ada5ff;
  background-color: #ada5ff;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #d55672;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-V {
  width: 2vh;
  height: 2vh;
  border: 1px solid #61304b;
  background-color: #61304b;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #88ffaa;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-W {
  width: 2vh;
  height: 2vh;
  border: 1px solid #176087;
  background-color: #176087;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f2e86d;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-X {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ffb451;
  background-color: #ffb451;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #00c3f8;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-Y {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ffdd4a;
  background-color: #ffdd4a;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #094074;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-Z {
  width: 2vh;
  height: 2vh;
  border: 1px solid #8332ac;
  background-color: #8332ac;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f2d1c9;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

@keyframes fall {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.letter-p {
  height: 2vh;
  width: 2vh;
  border: 1px solid #f04a4a;
  background-color: #f04a4a;
  border-radius: 100px;
  padding: 1em;
  color: #92fade;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 700ms ease-in-out 0s forwards;
}

.letter-y {
  height: 2vh;
  width: 2vh;
  border: 1px solid #ffdd4a;
  background-color: #ffdd4a;
  border-radius: 0.7em;
  padding: 1em;
  color: #094074;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 900ms ease-in-out 0s forwards;
}

.letter-k {
  height: 2vh;
  width: 2vh;
  border: 1px solid #d676ff;
  background-color: #d676ff;
  border-radius: 0.7em;
  padding: 1em;
  color: #45ff98;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 1100ms ease-in-out 0s forwards;
}

.letter-h {
  height: 2vh;
  width: 2vh;
  border: 1px solid #24d0bc;
  background-color: #24d0bc;
  border-radius: 100px;
  padding: 1em;
  color: #d52941;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 1300ms ease-in-out 0s forwards;
}

.letter-o {
  height: 2vh;
  width: 2vh;
  border: 1px solid #feb95f;
  background-color: #feb95f;
  border-radius: 0.7em;
  padding: 1em;
  color: #090446;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 1500ms ease-in-out 0s forwards;
}
