.letter-3 {
  display: none;
}

.letter-A {
  width: 2vh;
  height: 2vh;
  border: 1px solid #51ceed;
  background-color: #51ceed;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ce73fc;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-B {
  width: 2vh;
  height: 2vh;
  border: 1px solid #88f088;
  background-color: #88f088;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #3d43f3;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-C {
  width: 2vh;
  height: 2vh;
  border: 1px solid #914660;
  background-color: #914660;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ff96dc;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-D {
  width: 2vh;
  height: 2vh;
  border: 1px solid #8738bf;
  background-color: #8738bf;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #3df3ad;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-E {
  width: 2vh;
  height: 2vh;
  border: 1px solid #b33e3e;
  background-color: #b33e3e;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #73fc73;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-F {
  width: 2vh;
  height: 2vh;
  border: 1px solid #eaff60;
  background-color: #eaff60;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f33d7d;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-G {
  width: 2vh;
  height: 2vh;
  border: 1px solid #feffb8;
  background-color: #feffb8;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #7381fc;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-H {
  width: 2vh;
  height: 2vh;
  border: 1px solid #5195ed;
  background-color: #5195ed;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #fc7373;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-I {
  width: 2vh;
  height: 2vh;
  border: 1px solid #b8ffba;
  background-color: #b8ffba;
  border-radius: 40px;
  padding: 1.7vh 2.4vh 1.7vh 2.4vh;
  color: #7177aa;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-J {
  width: 2vh;
  height: 2vh;
  border: 1px solid #b8ffe6;
  background-color: #b8ffe6;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ff6d6d;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-K {
  width: 2vh;
  height: 2vh;
  border: 1px solid #4d4a4b;
  background-color: #4d4a4b;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #b18aff;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-L {
  width: 2vh;
  height: 2vh;
  border: 1px solid #47fdbe;
  background-color: #47fdbe;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #806dff;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-M {
  width: 2vh;
  height: 2vh;
  border: 1px solid #595959;
  background-color: #595959;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f39b98;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-N {
  width: 2vh;
  height: 2vh;
  border: 1px solid #007c51;
  background-color: #007c51;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #fdff6d;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-O {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ed5185;
  background-color: #ed5185;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-P {
  width: 2vh;
  height: 2vh;
  border: 1px solid #f04a4a;
  background-color: #f04a4a;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #92fade;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-Q {
  width: 2vh;
  height: 2vh;
  border: 1px solid #51edcb;
  background-color: #51edcb;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #00a962;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-R {
  width: 2vh;
  height: 2vh;
  border: 1px solid #6e4af0;
  background-color: #6e4af0;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #fa92f6;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-S {
  width: 2vh;
  height: 2vh;
  border: 1px solid #707070;
  background-color: #707070;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #34ffa7;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-T {
  width: 2vh;
  height: 2vh;
  border: 1px solid #464772;
  background-color: #464772;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #64ff64;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-U {
  width: 2vh;
  height: 2vh;
  border: 1px solid #ede351;
  background-color: #ede351;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #8ba6ff;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-V {
  width: 2vh;
  height: 2vh;
  border: 1px solid #1f144d;
  background-color: #1f144d;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #a32bb3;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-W {
  width: 2vh;
  height: 2vh;
  border: 1px solid #26545c;
  background-color: #26545c;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #3be6c7;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-X {
  width: 2vh;
  height: 2vh;
  border: 1px solid #770b62;
  background-color: #770b62;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f7fa52;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-Y {
  width: 2vh;
  height: 2vh;
  border: 1px solid #b8ff85;
  background-color: #b8ff85;
  border-radius: 5px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #ff8a8a;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

.letter-Z {
  width: 2vh;
  height: 2vh;
  border: 1px solid #491010;
  background-color: #491010;
  border-radius: 40px;
  padding: 1.7vh 2vh 1.7vh 2vh;
  color: #f28078;
  display: flex;
  align-items: center;
  animation: fall 1000ms ease-in-out 0s forwards;
}

@keyframes fall {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.letter-p {
  height: 2vh;
  width: 2vh;
  border: 1px solid #f04a4a;
  background-color: #f04a4a;
  border-radius: 100px;
  padding: 1em;
  color: #92fade;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 700ms ease-in-out 0s forwards;
}

.letter-y {
  height: 2vh;
  width: 2vh;
  border: 1px solid #b8ff85;
  background-color: #b8ff85;
  border-radius: 0.7em;
  padding: 1em;
  color: #ff8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 900ms ease-in-out 0s forwards;
}

.letter-k {
  height: 2vh;
  width: 2vh;
  border: 1px solid #4d4a4b;
  background-color: #4d4a4b;
  border-radius: 0.7em;
  padding: 1em;
  color: #b18aff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 1100ms ease-in-out 0s forwards;
}

.letter-h {
  height: 2vh;
  width: 2vh;
  border: 1px solid #5195ed;
  background-color: #5195ed;
  border-radius: 100px;
  padding: 1em;
  color: #fc7373;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 1300ms ease-in-out 0s forwards;
}

.letter-o {
  height: 2vh;
  width: 2vh;
  border: 1px solid #ed5185;
  background-color: #ed5185;
  border-radius: 0.7em;
  padding: 1em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fall 1500ms ease-in-out 0s forwards;
}
